@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}
body{
    background-color: #24292d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
#initial-countdown{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #24292d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
#container{
    width: 100%;
    max-width: 900px;
}
#header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
#header-content #logo{
    font-family: 'Geologica', sans-serif;
    font-size: 2em;
    font-weight: 700;
}
#main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#quizz{
    width: 100%;
    background-color: #2b3137;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu img{
    width: 25px;
}
#question-and-timer{
    padding: 30px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}
#points{
    border: solid 1px #fff;
    color: #fff;
    font-size: 1.1em;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes erro{
    0%{
        /* transform: translate(1px,2px) rotate(0deg); */
        border-color: rgb(255, 73, 73);
        color: rgb(255, 73, 73);
        background-color: #2b3137;
    }
    /* 10%{
        transform: translate(1px,-1px) rotate(-1deg);
    }
    20%{
        transform: translate(1px,-2px) rotate(1deg);
    }
    30%{
        transform: translate(1px,1px) rotate(-1deg);
    }
    40%{
        transform: translate(-1px,2px) rotate(0deg);
    }
    50%{
        transform: translate(-1px,1px) rotate(-1deg);
    }
    60%{
        transform: translate(-1px,-2px) rotate(1deg);
    }
    70%{
        transform: translate(0px,-1px) rotate(0deg);
    }
    80%{
        transform: translate(2px,-2px) rotate(-1deg);
    }
    90%{
        transform: translate(1px,1px) rotate(1deg);
    } */
    100%{
        border-color: rgb(255, 73, 73);
        color: rgb(255, 73, 73);
        background-color: #2b3137;
    }
}
@keyframes acerto{
    0%{
        border-color: rgb(72, 182, 72);
        color: rgb(72, 182, 72);
        background-color: #2b3137;
    }
    100%{
        border-color: rgb(72, 182, 72);
        color: rgb(72, 182, 72);
        background-color: #2b3137;
    }
}
.points-error{
    animation: erro;
    animation-duration: 0.5s;
}
.points-acerto{
    animation: acerto;
    animation-duration: 0.5s;
}
#options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.option{
    background-color: #2b3137;
    border: solid 1px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.option:hover{
    background-color: #8b8b8b44;
}
/* 
#result{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #24292d;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
#final-points{
    font-size: 2em;
}

#return{
    color: #fff;
} */


.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(1);
    background: transparent; 
    border: 2px solid white;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    opacity: 1;
    pointer-events:auto; 
    
  }
  
  .result-box h2{
    font-size: 52px;
  }
  
  .result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0 40px;
  }
  
  .percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(aqua 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: black;
    border-radius: 50%;
  }
  
  
  .circular-progress .progress-value{
    position: relative;
    font-size : 30px;
    font-weight: 300;
  }
  
  .progress-value .score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top:20px;
  }
  
  /* estilizando butões */
  .result-box .buttons{
    display: flex;
  }
  
  .buttons button{
    width: 130px;
    height: 47px;
    background: aqua;
    border: 2px solid rgb(65, 120, 156);
    outline: none;
    border-radius: 6px;
    font-size: 12px;
    color: black;
    font-weight: 500;
    margin: 0 20px 20px;
    cursor: pointer;
  }
  
  .buttons button:nth-child(1){
    background: transparent;
    color: aqua;
  
  }
  .buttons button:nth-child(1):hover{
    background: black;
    color: #fff;
  }
  
  .buttons button:nth-child(2){
    background: transparent;
    color: aqua;
  
  }
  .buttons button:nth-child(2):hover{
   background: black;
    color: #fff;
  }
  /* fim */
